
@font-face {
  font-family: Aileron;
  src: url("font/Ailerons/Ailerons.otf")format("opentype"),
       url("font/Ailerons/Ailerons.woff")format("woff"),
       url("fonr/Ailerons/Ailerons.ttf")format("truetype"),
       url("font/Ailerons/Ailerons.eot")format("embedded-opentype");
}

html, body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
img{
  display:block;
  width:100%;
  height:auto;
}
section{
  position: relative;
  background-position: center,top;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
}
/*
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;/*
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	
}*/

#section01 h1 {
  position: absolute;
  font-family: 'Aileron';
  top: 50%;
  left: 50%;
  z-index: 2;
  font-weight:lighter;
  transform:translate(-50%,-50%);
  color: #fff;
  text-align: center;
  font-size:150px;
  white-space: nowrap;
}
#section01 {
  background-image: url(image/1-1.png);
}

#section02 {
  background-image: url(image/black.png);
}



.demo a {
  position: absolute;
  bottom: 70px;
  left: 5%;
  z-index: 2;
  display: inline-block;/*
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);*/
  color: #fff;
  font-family : 'abel';
  font-size:20px;
  letter-spacing: .1em;
  text-decoration: none;
 /* transition: opacity .3s;*/
}
section a{
  padding-top:60px;
}
section a h3{
  position: absolute;
  bottom:50px;
  left:20px;
  font-size:30px;
  /*
  top: 30px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;*/
}

#arrow{
  position: fixed;
  top: 50px;
  left:60px;
  z-index:100;

}

#manu{
  position: fixed;
  top:50px;
  right:80px;
  font-family:'abel';
  font-size:30px;
  color:white;
  z-index:100
}

.container{
  width:1500px;
  margin:0 auto;
  text-align:center;
}
.card{
  position:relative;
  width:420px;
  display: inline-block;
  margin:15px;
}

