body {
  background: rgba(0, 0, 0, .1);
 /* margin: 10em;  reset margin*/
  background-image: url("./image/1-1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center,top;
  background-size: cover;
}

img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#navbar {
  line-height: 0;
  padding: 5px 0;
  top: 0;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -99;
}

#arrow {
 position:fixed;
 top:50px;
 left:60px;
}

#manu {
  font-family:'abel';
  font-size:30px;
  color:white;
  position:fixed;
  top:50px;
  right:80px;
}

#scroll {
  position:fixed;
  bottom:50px;
  left:30px;
}

#scroll span{
  font-family:'Abel';
  font-size:30px;
  position:absolute;
  color:white;
  bottom:70px;
  left:23px;
}

#cover {
  width:750px;
  height:auto;
}
