
@font-face {
  font-family: Aileron;
  src: url("font/Ailerons/Ailerons.otf")format("opentype"),
       url("font/Ailerons/Ailerons.woff")format("woff"),
       url("fonr/Ailerons/Ailerons.ttf")format("truetype"),
       url("font/Ailerons/Ailerons.eot")format("embedded-opentype");
}

html, body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
img{
  display:block;
  width:100%;
  height:auto;
}
section{
  position: relative;
  background-position: center,top;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
}

#section01 h1 {
  position: absolute;
  font-family: 'Aileron';
  top: 45%;
  left: 50%;
  z-index: 2;
  font-weight:lighter;
  transform:translate(-50%,-50%);
  color: #fff;
  text-align: center;
  font-size:170px;
  white-space: nowrap;
}
#section01 {
  background-image: url(image/1-1.png);
}

#section02 {
  background-image: url(image/black.png);
	overflow:hidden; 
  display:flex;
  align-items:center;
  justify-content:center; 
}

#section03 {
  background-image: url(image/black.png);
}

#section04 {
  background-image: url(image/4-1.png)
}
#section04 h1{
  position: absolute;
  font-family: 'Aileron';
  font-weight:lighter;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform:translate(-50%,-50%);
  font-weight:lighter;
  border-bottom: 7px solid white;
  color: #fff;
  text-align: center;
  font-size:150px;
  white-space: nowrap;

}

.halo:hover{
  filter: drop-shadow(5px 5px 30px  white); 
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 5%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  font-family : 'abel';
  font-size:20px;
  letter-spacing: .1em;
  text-decoration: none;
}

#pg3_left{
  position: absolute;
  background-size: cover;
  margin-top: 20vh;
  margin-left: 7vw;
  height: 52vh;
  width: 40vw;
  z-index: 2;
}

#pg3_right{
  opacity:0.5;
  position: absolute;
  background-size: cover;
  width: 100vw; 
  height: 100vh;
  margin-top:10vh;
  right:30px;
  height:75vh;
  width:75vw;
  z-index:1;
}
.middle{
 
  position:relative;
}

section a{
  padding-top:60px;
}
section a h3{
  position: absolute;
  bottom:50px;
  left:20px;
  font-size:30px;
}

#arrow{
  position: fixed;
  top: 50px;
  left:60px;
  z-index:100;
  width:100px;
  height:100px;
}

#menu{
  position: fixed;
  top:50px;
  right:80px;
  font-family:'abel';
  font-size:30px;
  color:white;
  z-index:100;
  text-decoration: none;

}
#menu a{
  text-decoration: none;
  color:white;
}
.container{
	
  
  width:1500px;
  margin:0 auto;
  text-align:center;
  vertical-align: middle;
  display: flex;
}
.card{


  position:relative;
  width:460px;
  max-height:100%;
  display: inline-block;
  margin:60px 15px;
}
.pg3_text{
  position:absolute;
  font-weight:lighter;
  font-family:'abel';
  font-size:70px;
  color:white;
  z-index:3;
}

#pg3_text_left{
  top:200px;
  left:30px;
}
#pg3_text_timon{
  opacity:0.5;
  top:70px;
  right:600px;
}

#pg3_text_right{
  position:absolute;
  font-family:'abel';
  font-size: 15px;
  font-weight:lighter;
  line-height:22px;
  opacity:0.5;
  top:200px;
  right:130px;
  z-index:3;
  color:white;
}
.pg2_text{
  position:absolute;
  font-weight:lighter;
  font-family:'abel';
  font-size:200px;
  color:white;
  z-index:5;
	overflow:hidden;  
  animation:marquee 15s linear infinite;
}
#pg2_text_left{
  left:5px;
  top:160px;	
	animation-direction: reverse;
}
#pg2_text_right{
  left:300px;
  top:460px;	
}

.expand{
  
  opacity:1;
  color:black;
  width: 500px;
  height:500px;
  border-radius:50%;
  vertical-align:middle;
  z-index:5;
}
.circular_expand:hover{
  transform(10);
}


@keyframes marquee {
 0% {
  left: 100%;
  transform: translate(0%);
 }
 
 100% {
  left: 0;
  transform: translate(-100%);
 }
}

.home{
  width:100px;
  height:100px;
  background-size:cover;
  background-image: url(image/arrow.png);
}
